<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts under category {{category}}</title>
</head>
<body>
    {% comment %} <h2>{{articles.category}}list</h2>
    <ul>
        {% for article in articles %}
        <li>
            <a href="{% url 'detail' article.id %}">{{article.title}}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'new' %}">create new!</a>


    
    <div></div>
    <div></div>
    <div></div> {% endcomment %}

    <div class="h6">{{category}}list</div>
    
    <div class="h6">
        <ul>
            {% for article in articles %}
            <li>
                <a href="{% url 'detail' article.id %}">{{article.title}}</a>
            </li>
            {% endfor %}
        </ul> 
</body>
</html>