<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class='h6'>List</h2>
    <u1>
        {% for article in articles %}
        <li>
            <a href="{% url 'detail' article.id %}" class='p'> {{ article.title }}
        </li>

        
        {% endfor %}
    </u1>

    
    <div class="h6">
        <div class="h6">{{articles_hobby_num}}</div>
        <div class="h6">{{articles_food_num}}</div>
        <div class="h6">{{articles_programming_num}}</div>
    </div>
    <br>
    <a href="{% url 'new' %}" class='h6'> <strong> create new! </strong></a>
</body>
</html>