<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        (function(d) {
          var config = {
            kitId: 'hjl4uhk',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
      </script>
      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <title>Home</title>
</head>
<body bgcolor='#EFF3F6'>
    <h2>모든 전공</h2>
    <h3><ul>
        {% for major in majors %}
        <li>
            <a href="{% url 'major_list' major.name %}">{{ major.name }}</a> | <a href="{% url 'EditMajor' major.pk %}">수정</a> 
            <a href="{% url 'delete_major' major.pk %}">삭제</a>
        </li>
        {% endfor %}
    </h3>
    <a href="{% url 'addMajor' %}">전공 추가</a>
    
   
    <h4>모든 과목</h4>
    <h5>
        {% for subject in subjects %}
        <li>
            {{ subject.Subject_name }} | {{ subject.Subject_major }} | {{ subject.professor }}
            <br>
            {{ subject.memo }}
            <a href="{% url 'EditSubject' subject.pk %}">수정</a>
            <a href="{% url 'delete_subject' subject.pk %}">삭제</a>
        </li>
        {% endfor %} </h5>
    
    <a href="{% url 'addSubject' %}">과목 추가</a>

</body>
</html>