<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        (function(d) {
          var config = {
            kitId: 'hjl4uhk',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
      </script>
      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <title>Home</title>
</head>
<body bgcolor="#F6F5FA">
    <div>
        <h1 class=up>모든 전공</h1>
        <h0 class=up>모든 과목</h0>
    </div>
    <div>
        <middle1>
            {% for major in majors %}
            <li>
                <a href="{% url 'major_list' major.name %}">{{ major.name }}</a> |<a href="{% url 'EditMajor' major.pk %}">수정</a>
                <a href="{% url 'delete_major' major.pk %}">삭제</a>
            </li>
            {% endfor %}
        </middle1>
        <middle2>
            {% for subject in subjects %}
            <li>
                {{ subject.Subject_name }} | {{ subject.Subject_major }} | {{ subject.professor }}
                {{ subject.memo }}
                <a href="{% url 'EditSubject' subject.pk %}">수정</a>
                <a href="{% url 'delete_subject' subject.pk %}">삭제</a>
            </li>
            {% endfor %} 
        </middle2>
    </div>
   <div>
   <h9><a href="{% url 'addMajor' %}">전공 추가</a></h9>
   <h8><a href="{% url 'addSubject' %}">과목 추가</a></h8>
   </div>

</body>
</html>