<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <script>
      (function(d) {
        var config = {
          kitId: 'hjl4uhk',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'count.css' %}" />
    <title>Count</title>
  </head>
  <body bgcolor="#F6F5FA">
    <h1>글자를 입력해 보세요!</h1>
    <form action="{% url 'result' %}" method="post">
      {% csrf_token %}<textarea name="text" cols="30" rows="10"></textarea>
      <br />
      <button><input type="submit" value="제출" /></button>
    </form>
  </body>
</html>
